@use '../../sass/partials/variables' as *;

.container-possibility {
  //   margin: 10rem 0;
  .row-features {
    align-items: center;
    justify-content: center;
    .first-col {
      position: relative;
      .main {
        padding-left: 8rem;
        bottom: 1.5rem;
        position: relative;
        z-index: 2;
      }
      .rectangle {
        position: absolute;
        z-index: 1;
        bottom: 1.5rem;
        left: 4rem;
      }
      button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 7.5%;
        right: 11.5%;
        .icon-1 {
          font-size: 2rem;
          margin-right: 0.6rem;
        }
      }
      .icon-div {
        top: 0%;
        left: 15%;
        position: absolute;
        height: 4rem;
        width: 4rem;
        border-radius: 20%;
        background-color: $color-card;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-2 {
          font-size: 2rem;
          color: white;
        }
      }
    }
    p {
      margin: 0;
    }
    .heading {
      font-size: 2.25rem;
    }
    .text {
      margin: 1.25rem 0;
      line-height: 2rem;
    }
    .subtext-2 {
      margin-bottom: 0.5rem;
    }
    .subtext-1 {
      margin-top: 1rem;
    }
  }
}
